<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proton - logowanie do panelu kontrolnego</title>
    @Styles.Render("~/Content/css-controlpanel")
    @Scripts.Render("~/bundles/js-controlpanel")
</head>
<body>
    @RenderBody()
</body>
</html>
