@{
    ViewBag.Title = "AddTemplate";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Add template
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="@Html.SetActiveFlag("Index")">
                    @Html.ActionLink("Installed templates", "Index", "Templates", null, null)
                </li>
                <li class="@Html.SetActiveFlag("AddTemplate")">
                    @Html.ActionLink("Add new template", "AddTemplate", "Templates", null, null)
                </li>
            </ul>
        </div>
    </nav>
    <div class="panel-margin">
        @using (Html.BeginForm("AddTemplate", "Templates", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-group form-group">
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="inputFileText" placeholder="Click to select file with template">
                </div>
                <input type="submit" class="col-sm-3 btn btn-danger" value="Upload and install template" />
            </div>
            <input id="inputFile" type="file" class="file" name="file" style="display: none;">
        }
    </div>
    <div style="clear:both;"/>
</div>

<script>
    $("#inputFileText").click(function () {
        $("#inputFile").click();
    });
    $("#inputFile").change(function () {
        $("#inputFileText").attr("value", $("#inputFile").val().replace("C:\\fakepath\\", ""));
    });
</script>