@model Proton_CMS.ViewModels.AuthViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ControlPanel/Views/Shared/_AuthLayout.cshtml";
}


<div class="container">
    <div class="row ">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" style="margin-top: 15%">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>   Proton Control Panel </strong>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("LogIn", "Auth", FormMethod.Post, new { role = "form" }))
                    {
                        <br />
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            @Html.TextBoxFor(p => p.UserName, new { type = "text", @class = "form-control", placeholder = "UserName" })
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            @Html.TextBoxFor(p => p.Password, new { type="password", @class = "form-control", placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                @Html.CheckBoxFor(p => p.RememberMe, new { type = "checkbox" }) Remember me
                            </label>
                            <span class="pull-right">
                                @Html.ActionLink("Forget password?", "RemindPassword", "Auth", null, null)
                            </span>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Login Now">
                    }
                </div>

            </div>
        </div>


    </div>
</div>
